@page "/counter"
@page "/brewery/{breweryId}"
@inject HttpClient Http

@if (pub == null)
{
    <p>There has been an error, click <a href="/">here</a> to return home</p>
}
else
{
    <PageTitle>@pub.name</PageTitle>
    <div class="row align-content-start">
        <a href="/">Go Home</a>
    </div>
    <div class="card mx-auto" style="width: 75%;">
        <img src="images/pub.jpeg" class="card-img-top" style="height: 200px;" />
        <h2>@pub.name</h2>
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                @if(pub.brewery_type != null)
                {
                    <div class="row">
                        <div class="col-2">
                            Brewery Type:
                        </div>
                        <div class="col-8">
                            @pub.brewery_type
                        </div>
                    </div>
                }
                @if (pub.state_province != null)
                {
                    <div class="row">
                        <div class="col-2">
                            County:
                        </div>
                        <div class="col-8">
                            @pub.state_province
                        </div>
                    </div>
                }
                @if (pub.postal_code != null)
                {
                    <div class="row">
                        <div class="col-2">
                            Postal Code:
                        </div>
                        <div class="col-8">
                            @pub.postal_code
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="list-group list-group-flush">
            <div id="google-maps-display" style="height:100%; width:100%;max-width:100%;">
                <iframe style="height:100%;width:100%;border:0;" 
                    frameborder="0" 
                    src="@mapUrl">
                </iframe>
			</div>
		</div>
    </div>
}


@code {
    [Parameter]
    public string? breweryId { get; set; }
    private Brewery pub;
    private string? mapUrl;
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            pub = await Http.GetFromJsonAsync<Brewery>("https://api.openbrewerydb.org/v1/breweries/"+breweryId);
            mapUrl = getMap(pub.latitude, pub.longitude);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            throw e;
        }

    }

    public string getMap(string lat, string longit)
    {
        return $"https://www.google.com/maps/embed/v1/place?q={lat},{longit}&key=AIzaSyC5Lj9jbZC74qtZKB2GOiuEZjgkztE_RBY";
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    public class Brewery
    {
        public string id { get; set; }
        public string name { get; set; }
        public string brewery_type { get; set; }
        public string address_1 { get; set; }
        public string? address_2 { get; set; }
        public string? address_3 { get; set; }
        public string city { get; set; }
        public string state_province { get; set; }
        public string postal_code { get; set; }
        public string country { get; set; }
        public string longitude { get; set; }
        public string latitude { get; set; }
        public string phone { get; set; }
        public string website_url { get; set; }
        public string state { get; set; }
        public string street { get; set; }
    }
}
