@page "/counter"
@page "/brewery/{breweryId}"
@inject HttpClient Http
@inject NavigationManager Navigation

<style>
    .checked {
        color: orange;
    }
</style>

@if (pub == null)
{
    <p>There has been an error, click <a href="/">here</a> to return home</p>
}
else
{
    <PageTitle>@pub.name</PageTitle>
    <div class="align-content-start">
        <button @onclick="@(() => Navigation.NavigateTo("/"))" class="btn btn-outline-primary">Go Home</button>
    </div>
    <div class="card mx-auto" style="width: 75%;">
        <img src=@bannerUrl class="card-img-top" style="height: 200px;" />
        <h2>@pub.name</h2>
        <div class="list-group list-group-flush">
            <div class="list-group-item">
                @if(pub.brewery_type != null)
                {
                    <div class="row">
                        <div class="col-2">
							<strong>Brewery Type:</strong>
                        </div>
                        <div class="col-8">
                            @char.ToUpper(pub.brewery_type[0])@pub.brewery_type.Substring(1)
                        </div>
                    </div>
                }
                @if (pub.state_province != null)
                {
                    <div class="row">
                        <div class="col-2">
							<strong>County:</strong>
                        </div>
                        <div class="col-8">
                            @pub.state_province
                        </div>
                    </div>
                }
                @if (pub.postal_code != null)
                {
                    <div class="row">
                        <div class="col-2">
							<strong>Postal Code:</strong>
                        </div>
                        <div class="col-8">
                            @pub.postal_code
                        </div>
                    </div>
                    @if (pub.website_url != null)
                    {
                        <div class="row">
                            <div class="mx-auto">
                                <a href="@pub.website_url">Vist brewery website here!</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="list-group list-group-flush">
            <div id="google-maps-display" style="height:100%; width:100%;max-width:100%;">
                <iframe style="height:100%;width:100%;border:0;" 
                    frameborder="0" 
                    src="@mapUrl">
                </iframe>
			</div>
		</div>
        @if (ChosenReviews.Count() != 0)
        {
            <div class="list-group list-group-flush">
                <table class="table">
                    <tbody>
                        @foreach (var entry in ChosenReviews)
                        {
                            <tr>
                                <td>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </td>
								<td><em>"@entry.comment"</em></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
}


@code {
    [Parameter]
    public string? breweryId { get; set; }
    private Brewery pub;
    private string? mapUrl;
    private string? bannerUrl;
    private IQueryable<Review>? reviews;

    IQueryable<Review> ChosenReviews
    {
        get
        {
            var r = reviews.OrderBy(_ => Guid.NewGuid()).Take(6);
            return r;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            pub = await Http.GetFromJsonAsync<Brewery>("https://api.openbrewerydb.org/v1/breweries/"+breweryId);
            mapUrl = getMap(pub.latitude, pub.longitude);
            bannerUrl = getBanner();
            var r = await Http.GetFromJsonAsync<Review[]>("sample-data/reviews.json");
            reviews = r.AsQueryable();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            throw e;
        }

    }

    public string getMap(string lat, string longit)
    {
        return $"https://www.google.com/maps/embed/v1/place?q={lat},{longit}&key=AIzaSyC5Lj9jbZC74qtZKB2GOiuEZjgkztE_RBY";
    }

    public string getBanner()
    {
        Random rnd = new Random();
        int photoNum = rnd.Next(10);
        return $"images/pub{photoNum}.jpeg";
    }


    public class Brewery
    {
        public string id { get; set; }
        public string name { get; set; }
        public string brewery_type { get; set; }
        public string address_1 { get; set; }
        public string? address_2 { get; set; }
        public string? address_3 { get; set; }
        public string city { get; set; }
        public string state_province { get; set; }
        public string postal_code { get; set; }
        public string country { get; set; }
        public string longitude { get; set; }
        public string latitude { get; set; }
        public string phone { get; set; }
        public string website_url { get; set; }
        public string state { get; set; }
        public string street { get; set; }
    }

    public class Review
    {
        public int id { get; set; }
        public int rating { get; set; }
        public string comment { get; set; }
    }
}
