@page "/"
@inject HttpClient Http
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>Breweries</PageTitle>

<div class="page-size-chooser">
    Items per page:
    <select @bind="@pagination.ItemsPerPage">
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>50</option>
    </select>
</div>

<QuickGrid Items="@data" Pagination="@pagination">
    <PropertyColumn Property="@(p => p.name)" Sortable="true" />
    <PropertyColumn Property="@(p => p.brewery_type)" />
    <TemplateColumn Title="Link">
        <button @onclick="@(() => navigateAway(context.id))">More details</button>
    </TemplateColumn>
</QuickGrid>

<Paginator State="@pagination" />

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private Brewery[] items;
    private IQueryable<Brewery> data;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            items = await Http.GetFromJsonAsync<Brewery[]>("https://api.openbrewerydb.org/v1/breweries?by_country=ireland");
            data = items.AsQueryable();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            throw e;
        }

    }

    public void navigateAway(string name) => Navigation.NavigateTo("brewery/" + name);


    public class Brewery
    {
        public string id { get; set; }
        public string name { get; set; }
        public string brewery_type { get; set; }
        public string address_1 { get; set; }
        public string? address_2 { get; set; }
        public string? address_3 { get; set; }
        public string city { get; set; }
        public string state_province { get; set; }
        public string postal_code { get; set; }
        public string country { get; set; }
        public string longitude { get; set; }
        public string latitude { get; set; }
        public string phone { get; set; }
        public string website_url { get; set; }
        public string state { get; set; }
        public string street { get; set; }
    }
}